* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  background-image: linear-gradient(white, black);
  /* .popupDetalle{
        position: fixed;
        z-index: 1;
        background-color: rgba(128, 128, 128, 0.4);
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .popupDetalle>div{
        background-image: url('https://marketplace.canva.com/EAFGKWZ7S3c/1/0/1600w/canva-fondo-de-pantalla-caritas-felices-aesthetic-gradiente-morado-y-rosa-yuWW9A_crYQ.jpg');
        width: 50%;
        padding: 20px;
        border-radius: 10px;
    }
    .product-detail .imagen{
        width: 40%;
        display: flex;
        align-items: center;
        border: 3px solid black;
        border-radius: 10px;
        padding: 5px;
    }
    
     .closePopup{
        text-align: end;
        width: 100%;
    }
 
    .product-detail{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .descripcion-detail .click{
        margin: 10px 0
    }
    .descripcion-detail .click .resultado{
        margin: 0 10px
    }
    .descripcion-detail .click .less, .descripcion-detail .click .more{
        border: 2px solid rgb(122, 152, 162);
        background-color: lightblue;
        border-radius: 50%;
        padding: 3px 7px;
    } 
    .d-none{
        display: none;
    } 
 */ }
  .body header {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .body header .logo {
      margin: .5rem;
      padding: .5rem;
      width: 10rem;
      animation-name: efecto_logo;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
      animation-duration: 5s;
      animation-delay: 2s; }

@keyframes efecto_logo {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }
    .body header h1 {
      color: rgba(182, 0, 0, 0.551);
      font-family: 'Comfortaa', cursive;
      font-weight: bold; }
    .body header .subtParafernalia {
      display: flex;
      justify-content: center;
      text-align: center;
      font-style: oblique;
      font-family: 'Comfortaa', cursive; }
    .body header .subtIndoor {
      display: flex;
      justify-content: center;
      text-align: center;
      font-style: oblique;
      font-family: 'Comfortaa', cursive; }
    .body header .subtCultivo {
      display: flex;
      justify-content: center;
      text-align: center;
      font-style: oblique;
      font-family: 'Comfortaa', cursive; }
    .body header .subtContacto {
      display: flex;
      justify-content: center;
      text-align: center;
      font-style: oblique;
      font-family: 'Comfortaa', cursive; }
    .body header .navbar {
      border: solid 1px black;
      border-radius: 1rem; }
      .body header .navbar .collapse {
        justify-content: center; }
        .body header .navbar .collapse .dropdown-menu {
          border: solid 1px black;
          border-radius: 1rem; }
          .body header .navbar .collapse .dropdown-menu .dropdown-item {
            border-radius: 1rem;
            opacity: .7;
            font-size: larger;
            font-family: 'Patrick Hand', cursive; }
          .body header .navbar .collapse .dropdown-menu .dropdown-item:hover {
            transition: all 1s;
            opacity: 1; }
        .body header .navbar .collapse .nav-link {
          font-size: larger;
          font-family: 'Patrick Hand', cursive; }
  .body .intro, .body .introForm {
    width: 90%;
    border: solid 2px black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large; }
  .body .tituloMain, .body header .subtIndex {
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: oblique;
    font-family: 'Comfortaa', cursive; }
  .body .proDom {
    display: flex; }
  .body .pmv {
    border: solid 2px black;
    transition: all 1.5s;
    font-family: 'Patrick Hand', cursive; }
    .body .pmv .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .body .pmv .card-img-top {
      height: 16rem;
      width: 10rem;
      margin: auto; }
    .body .pmv .card-title {
      font-weight: bold; }
    .body .pmv .fav {
      align-self: center;
      margin: 1rem; }
  .body .pmv:hover {
    transition: all 1.5s;
    transform: scale(1.1);
    border: solid 2px rgba(105, 105, 105, 0.74);
    box-shadow: 0 0 1rem white; }
  .body .popupDetalle {
    background-color: red;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .body .preguntas {
    width: 85%;
    margin: auto;
    font-family: 'Patrick Hand', cursive; }
  .body .titRedes {
    text-align: center;
    font-style: oblique;
    font-family: 'Comfortaa', cursive;
    color: white;
    margin-top: 1rem; }
  .body .redes {
    display: flex;
    justify-content: center;
    gap: 2rem; }
    .body .redes i {
      color: white;
      border-radius: 50%;
      transition: all 1s; }
    .body .redes i:hover {
      transition: all 1s;
      transform: scale(1.2);
      box-shadow: 0 0 1rem white; }
  .body .introForm {
    margin: 2rem auto; }
  .body .formulario {
    width: 70%;
    margin: auto;
    border: solid 1px black;
    background-image: linear-gradient(to top, yellow, orange, red);
    border-radius: 5px; }
    .body .formulario label {
      font-family: 'Patrick Hand', cursive; }
    .body .formulario .input {
      background-color: #cfcfcf;
      border: solid 2px black;
      border-radius: .5rem; }
